/* start of home */

#home {
    text-align: center;
    margin-top: 80px;
}

#container {
    width: 90%;
    height: 500px;
    margin-left: 5%;
    border-style: solid;
    border-radius: 5px;
    margin-top: 70px;
    overflow: scroll;
}

/* start of first, second, third. */

.main {
    margin: 7.5%;
    border-style: solid;
    border-radius: 5px;
    padding: 20px;
}

span {
    color: green;
}

.pages {
    margin-bottom: 30px;
}

html {
    scroll-behavior: smooth;
}